.container {
	min-height: 100vh;
}
* {
	margin: 0px;
}
.SlideDiv {
	width: 100%;
	background-color: blueviolet;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.SlideDiv button {
	z-index: 1000;
	position: absolute;
	top: 50%;
}
.SlideDiv button:nth-child(1) {
	left: 20px;
}
.SlideDiv button:nth-child(2) {
	right: 20px;
}
.IndividualSlide {
	position: absolute;
	background-color: bisque;
	width: 100%;
	height: calc(100% - 70px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 70px;
	display: none;
}
.active {
	display: flex;
}
